<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <!-- Navbar -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="">Кинотеатр</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" (click)="getCinemas()" data-bs-toggle="dropdown" aria-expanded="false">
                Кинотеатры
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown" >
                <div *ngFor="let cinema of cinemas">
                  <li><a class="dropdown-item" href="" (click)="saveCurCinema(cinema.objectId); getSessionsByCinemaId(cinema.objectId)" data-bs-toggle="modal" data-bs-target="#cinemaModal">{{cinema.name}}</a></li>

                </div>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="">Something else here</a></li>
              </ul>
            </li>

            <!-- Admin Panel Button -->
            <li class="nav-item">
              <a [hidden]="!isUserAdmin()" class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#adminModal">Admin Panel</a>
            </li>
          </ul>
          <form class="d-flex">
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
            <button [hidden]="isLoggedIn" class="btn btn-outline-light" type="submit" data-bs-toggle="modal" data-bs-target="#registrationModal">Reg</button>
            <button [hidden]="isLoggedIn" class="btn btn-outline-light" type="submit" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
            <button [hidden]="!isLoggedIn" class="btn btn-outline-light" type="submit" data-bs-toggle="modal" data-bs-target="#userModal">{{username}}</button>
            <button [hidden]="!isLoggedIn" (click)="logout()" class="btn btn-outline-light" type="submit">LogOut</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <br>

  <!-- Admin Modal -->
  <section>
    <div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="adminModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="adminModalLabel">Admin Panel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Add Cinema Button -->
            <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#addCinemaModal">Add Cinema</button>
            <br><br>

            <!-- Add Hall Button -->
            <button class="btn btn-primary" type="submit" (click)="getCinemas()" data-bs-toggle="modal" data-bs-target="#addHallModal">Add Hall</button>
            <br><br>

            <!-- Add Film Button -->
            <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#addFilmModal">Add Film</button>
            <br><br>

            <!-- Add Session Button -->
            <button class="btn btn-primary" type="submit" (click)="getCinemas()" data-bs-toggle="modal" data-bs-target="#addSessionModal">Add Session</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Registration Modal -->
  <section>
    <div class="modal fade" id="registrationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="registrationModalLabel">Registration</h5>
          </div>
          <div class="modal-body">
            <form #registrationForm="ngForm" (ngSubmit)="onRegister(registrationForm)">
              <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" ngModel name="username" class="form-control" id="login" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" ngModel name="email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" ngModel name="password" class="form-control" id="password" required>
              </div>
              <div class="mb-3">
                <label >{{responseMessage}}</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="registrationForm.invalid" type="submit" id="registration" class="btn btn-primary">Registration</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Login Modal -->
  <section>
    <div class="modal fade" id="loginModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login</h5>
          </div>
          <div class="modal-body">
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
              <div class="mb-3">
                <label for="login" class="form-label">Login</label>
                <input type="text" ngModel name="username" class="form-control" id="login1" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" ngModel name="password" class="form-control" id="password1" required>
              </div>
              <div class="mb-3">
                <label >{{responseMessage}}</label>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="loginForm.invalid" type="submit" id="log-in" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- User Info Modal -->
  <section>
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel">{{username}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <h5>User Info</h5>
            <div>
              <table class="table table-borderless ">
                <tr>
                  <td> Username: </td>
                  <td> {{username}}</td>
                </tr>
                <tr>
                  <td> Id:  </td>
                  <td> {{userId}}</td>
                </tr>
                <tr>
                  <td> Roles:  </td>
                  <td> {{roles.toString()}}</td>
                </tr>
                <tr>
                  <td> Token:  </td>
                  <td> {{token}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Cinema Modal -->
  <section>
    <div class="modal fade" id="addCinemaModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCinemaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addCinemaModalLabel">Add Cinema</h5>
          </div>
          <div class="modal-body">
            <form #addCinemaForm="ngForm" (ngSubmit)="onAddCinema(addCinemaForm)">
              <div class="mb-3">
                <label for="cinemaName" class="form-label">Cinema name</label>
                <input type="text" ngModel name="cinemaName" class="form-control" id="cinemaName" required>
              </div>
              <div class="mb-3">
                <label for="cinemaAddress" class="form-label">Cinema address</label>
                <input type="text" ngModel name="cinemaAddress" class="form-control" id="cinemaAddress" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addCinemaForm.invalid" type="submit" id="add-cinema" class="btn btn-primary">Add Cinema</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Hall Modal -->
  <section>
    <div class="modal fade" id="addHallModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addHallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addHallModalLabel">Add Hall</h5>
          </div>
          <div class="modal-body">
            <form #addHallForm="ngForm" (ngSubmit)="onAddHall(addHallForm)">
              <div class="mb-3">
                <label for="cinemaDropdown" class="form-label">Cinema Name</label>
                <select ngModel name="cinemaName" class="form-select" id="cinemaDropdown" aria-label="Default select example">
                  <option selected>Choose Cinema</option>
                  <option *ngFor="let cinema of cinemas">{{cinema.name}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="hallNumber" class="form-label">Hall number</label>
                <input type="text" ngModel name="hallNumber" class="form-control" id="hallNumber" required>
              </div>
              <div class="mb-3">
                <label for="hallRows" class="form-label">Rows</label>
                <input type="text" ngModel name="hallRows" class="form-control" id="hallRows" required>
              </div>
              <div class="mb-3">
                <label for="hallCols" class="form-label">Columns</label>
                <input type="text" ngModel name="hallCols" class="form-control" id="hallCols" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addHallForm.invalid || addHallForm.value.cinemaName == 'Choose Cinema' || addHallForm.value.cinemaName == ''" type="submit" id="add-hall" class="btn btn-primary" data-bs-dismiss="modal">Add Hall</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Session Modal -->
  <section>
    <div class="modal fade" id="addSessionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addSessionModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSessionModalLabel">Add Hall</h5>
          </div>
          <div class="modal-body">
            <form #addSessionForm="ngForm" (ngSubmit)="onAddSession(addSessionForm)">
              <div class="mb-3">
                <label for="cinemaDropdown1" class="form-label">Cinema Name</label>
                <select ngModel name="cinemaName" class="form-select" id="cinemaDropdown1" (click)="getHallsByCinemaName(addSessionForm.value.cinemaName)" aria-label="Default select example">
                  <option selected>Choose Cinema</option>
                  <option *ngFor="let cinema of cinemas" >{{cinema.name}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="hallDropdown" class="form-label">Hall Name</label>
                <select ngModel name="hallName" class="form-select" id="hallDropdown"  aria-label="Default select example">
                  <option selected>Choose Hall</option>
                  <option *ngFor="let hall of halls">{{hall.name}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="filmDropdown" class="form-label">Film Name</label>
                <select ngModel name="filmName" class="form-select" id="filmDropdown" aria-label="Default select example">
                  <option selected>Choose Film</option>
                  <option *ngFor="let film of films">{{film.name}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">Time</label>
                <input type="text" ngModel name="time" class="form-control" id="time" required>
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Rows</label>
                <input type="text" ngModel name="price" class="form-control" id="price" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addSessionForm.invalid ||
                addSessionForm.value.cinemaName == 'Choose Cinema' ||
                addSessionForm.value.cinemaName == '' ||
                addSessionForm.value.hallName == 'Choose Hall' ||
                addSessionForm.value.hallName == '' ||
                addSessionForm.value.filmName == 'Choose Film' ||
                addSessionForm.value.filmName == ''" type="submit" id="add-session" class="btn btn-primary" data-bs-dismiss="modal">Add Session</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Add Film Modal -->
  <section>
    <div class="modal fade" id="addFilmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addFilmModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addFilmModalLabel">Добавить кинотеатр</h5>
          </div>
          <div class="modal-body">
            <form #addFilmForm="ngForm" (ngSubmit)="onAddFilm(addFilmForm)">
              <div class="mb-3">
                <label for="filmName" class="form-label">Name</label>
                <input type="text" ngModel name="filmName" class="form-control" id="filmName" required>
              </div>
              <div class="mb-3">
                <label for="filmDirector" class="form-label">Director</label>
                <input type="text" ngModel name="filmDirector" class="form-control" id="filmDirector" required>
              </div>
              <div class="mb-3">
                <label for="filmGenre" class="form-label">Genre</label>
                <input type="text" ngModel name="filmGenre" class="form-control" id="filmGenre" required>
              </div>
              <div class="mb-3">
                <label for="filmCountry" class="form-label">Country</label>
                <input type="text" ngModel name="filmCountry" class="form-control" id="filmCountry" required>
              </div>
              <div class="mb-3">
                <label for="filmLength" class="form-label">Length</label>
                <input type="text" ngModel name="filmLength" class="form-control" id="filmLength" required>
              </div>
              <div class="mb-3">
                <label for="filmDescription" class="form-label">Description</label>
                <textarea type="text" ngModel name="filmDescription" class="form-control" id="filmDescription" required></textarea>
              </div>
              <div class="mb-3">
                <label for="filmPosterURL" class="form-label">Poster URL</label>
                <input type="text" ngModel name="filmPosterURL" class="form-control" id="filmPosterURL" required>
              </div>
              <div class="mb-3">
                <label for="filmTrailerURL" class="form-label">Trailer URL</label>
                <input type="text" ngModel name="filmTrailerURL" class="form-control" id="filmTrailerURL" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button [disabled]="addFilmForm.invalid" type="submit" id="add-film" class="btn btn-primary">Add Cinema</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cinema Info Modal -->
  <section>
    <div class="modal fade" id="cinemaModal" tabindex="-1" aria-labelledby="cinemaModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="cinemaModalLabel">{{getCinemaNameById(curCinemaId)}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clear()" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <h5>Sessions</h5>
            <div *ngFor="let film of films" >
              <div class="container" [hidden]="getLocalSessionsByFilmId(film.objectId).length == 0">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col" >
                    <div class="p-3 border bg-primary">
                      <button type="button" class="btn btn-primary" (click)="saveCurFilm(film.objectId); getSessionsByFilmId(film.objectId)" data-bs-toggle="modal" data-bs-target="#filmModal">{{film.name}}</button>
                    </div>
                  </div>
                  <div class="col" *ngFor="let session of getLocalSessionsByFilmId(film.objectId)">
                    <div class="p-3 border bg-light">
                      <button type="button" class="btn btn-light" (click) = "saveCurSessionInfo(session.objectId, curCinemaId); generateHallTable(session.objectId, getCinemaNameById(curCinemaId))" data-bs-toggle="modal" data-bs-target="#sessionModal">{{getAttributeById(session.attributes, 5)}}     {{getAttributeById(session.attributes, 9)}}</button>
                    </div>
                  </div>

                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Films List -->
  <section>
    <div class="container">
      <div class="card-group">
        <div *ngFor="let film of films">
          <div class="card" style="width: 18rem;">
            <div class="poster">
              <img src="{{getAttributeById(film.attributes, 15)}}" class="card-img-top" alt="...">
            </div>

            <div class="card-body">
              <h5 class="card-title">{{film.name}}</h5>
              <a href="" (click)="saveCurFilm(film.objectId); getSessionsByFilmId(film.objectId); getCinemas()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#filmModal">Show</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Film Info Modal -->
  <section>
    <div class="modal fade" id="filmModal" tabindex="-1" aria-labelledby="filmModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="filmModalLabel">{{getCurFilmName()}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clear()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="ratio ratio-16x9">
              <iframe [src]="getFilmAttributeById(16) | youtube" allowfullscreen></iframe>
            </div>
            <hr>
            <h6>Genre:</h6>
            <p>{{getFilmAttributeById(11)}}</p>
            <h6>Director:</h6>
            <p>{{getFilmAttributeById(10)}}</p>
            <h6>County:</h6>
            <p>{{getFilmAttributeById(12)}}</p>
            <h6>Description:</h6>
            <p>{{getFilmAttributeById(14)}}</p>
            <hr>
            <h5>Sessions</h5>
            <div *ngFor="let cinema of cinemas" >
              <div class="container" [hidden]="getLocalSessionsByCinemaId(cinema.objectId).length == 0">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                  <div class="col" >
                    <div class="p-3 border bg-primary">
                      <button type="button" class="btn btn-primary" (click)="saveCurCinema(cinema.objectId); getSessionsByCinemaId(cinema.objectId)" data-bs-toggle="modal" data-bs-target="#cinemaModal">{{cinema.name}}</button>
                    </div>
                  </div>
                  <div class="col" *ngFor="let session of getLocalSessionsByCinemaId(cinema.objectId)">
                    <div class="p-3 border bg-light">
                      <button type="button" class="btn btn-light" (click) = "saveCurSessionInfo(session.objectId, cinema.objectId); generateHallTable(session.objectId, cinema.name)" data-bs-toggle="modal" data-bs-target="#sessionModal">{{getAttributeById(session.attributes, 5)}}     {{getAttributeById(session.attributes, 9)}}</button>
                    </div>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Session Info Modal -->
  <section>
    <div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="sessionModalLabel">{{getCurFilmName()}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="clear()" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="btn-annotation">
              <button type="button" class="btn seat-btn green-btn btn-success btn-sm">0</button>
              <label class="btn-text">Free seats</label>
              <button type="button" class="btn seat-btn blue-btn btn-primary btn-sm">0</button>
              <label class="btn-text">Selected seats</label>
              <button type="button" class="btn seat-btn gray-btn btn-secondary btn-sm" disabled>0</button>
              <label class="btn-text">Purchased seats</label>
            </div>
            <div>
              <img class="img-info" src="assets/images/ekran.png" alt="image" style="transform: scale(1);">
              <div class="div-info">
                <br>
                <div class="text-info1">screen</div>
                <br>
              </div>

            </div>
            <table class="table table-borderless">
              <tbody>
              <tr *ngFor="let col of cols">
                <th scope="row">{{col.name}}</th>
                <td *ngFor="let row of rows">
<!--                  <button [disabled]="isBought(col.name, row.name)" type="button" class="btn btn-success">{{row.name}}</button>-->
                  <ng-container *ngIf="isBought(col.name, row.name); then locked; else enabled"></ng-container>
                  <ng-template #enabled>
                    <button type="button" [ngClass]="isSelected(col.name, row.name) ? 'btn-primary' : 'btn-success'" class="btn seat-btn" (click)="selectSeat(col.name, row.name)">{{row.name}}</button>
                  </ng-template>
                  <ng-template #locked>
                    <button [disabled]="true" type="button" class="btn seat-btn btn-secondary">{{row.name}}</button>
                  </ng-template>

                </td>
              </tr>
              </tbody>
            </table>
            <hr>
<!--            <div *ngFor="let cinema of cinemas">-->
<!--              <h6>cinema: {{cinema.objectId}}</h6>-->
<!--            </div>-->
<!--            <div *ngFor="let hall of halls">-->
<!--              <h6>hall: {{hall.objectId}}</h6>-->
<!--            </div>-->
<!--            <div *ngFor="let session of sessions">-->
<!--              <h6>session: {{session.objectId}}</h6>-->
<!--            </div>-->
            <div>
              <table class="table table-borderless ">
                <tr>
                  <td> Film: </td>
                  <td> {{getCurFilmName()}}</td>
                </tr>
                <tr>
                  <td> Session:  </td>
                  <td> {{getSessionAttributeBySessionIdAndAttrId(curSessionId, 5)}}</td>
                </tr>
                <tr>
                  <td> Cinema:  </td>
                  <td> {{getCinemaNameById(curCinemaId)}}, hall {{getHallByCinemaIdAndSessionId(curCinemaId, curSessionId)}}</td>
                </tr>
                <tr>
                  <td> Cost:  </td>
                  <td> {{getSessionAttributeBySessionIdAndAttrId(curSessionId, 9)}} rub.</td>
                </tr>
                <tr>
                  <td> Selected Seats:  </td>
                  <td> {{selectedSeatsToSting()}}</td>
                </tr>
              </table>
            </div>
            <div class="btn-annotation">
              <button type="button" class="btn btn-primary btn-lg buy-btn" (click)="onUpdateSeats()">BUY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</body>
</html>


